* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	color: #fff;
}
body {
	font-size: 12px;
	line-height: 20px;
	background: #505c79;
	padding:30px 0;
	text-align: center;
	font-family: Arial, Verdana, Sans-serif;
}
#wrapper {
	width:445px;
	margin: 0 auto;
	text-align: left;
}
#container {
	background:#fff;
	padding:10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#image {
	width: 425px;
	height: 282px;
	position: relative;
	margin-bottom: 7px;
}
#navigation {
	text-align: center;
}
#navigation a {
	color:#333;
	text-decoration: none;
}
#image img {
	position: absolute;
	z-index: 1;
}
#image img.active {
	z-index: 3;
}










